.tag-editor .red-tag .tag-editor-tag {
    color: #c65353;
    background: #ffd7d7;
}

.tag-editor .blue-tag .tag-editor-tag {
    color: #46799b;
    background: #60ddff;
}

.tag-editor .green-tag .tag-editor-tag {
    color: #45872c;
    background: #e1f3da;
}

.tag-editor .red-tag .tag-editor-delete {
    background-color: #ffd7d7;
}




.tag-editor .green-tag .tag-editor-delete {
    background-color: #e1f3da;
}